.input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 8px 30px 8px 40px;
    border-radius: 6px;
    font-size: 20px;

    @media(max-width: 550px) {
        width: 100%;
    }

    &:focus {
        border: 1px solid rgba(0, 0, 0, .3);
    }
}

.icon {
    width: 20px;
    height: 20px;
    opacity: .3;
    position: absolute;
    left: 10px;
    top: 10px;
}

.clearIcon {
    width: 20px;
    height: 20px;
    opacity: .3;
    position: absolute;
    right: 8px;
    top: 10px;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

.wrapper {
    position: relative;
}